<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/app.css">
        <title>{{original_title}} - TMDB</title>
    </head>

    <body id="movie">
        <div class="card">
            <div class="card-media">
                <img width = "300" height = "444" src="https://image.tmdb.org/t/p/w500{{poster_path}}"/>
            </div>

            <div class="card-content">
                <h1 class="card-title">{{original_title}}</h1>
                <div>
                    <small>Premiere - {{release_date}}</small> &bull;
                    <small>Budget - {{budget}} $</small> &bull;
                    <small>Box office - {{revenue}} $</small> &bull;
                    <small>Duration - {{runtime}} min.</small> &bull;
                    <small>Rating - {{vote_average}}/10</small>
                </div>
                <p>{{overview}}</p>
                <a href="http://www.imdb.com/title/{{imdb_id}}" target="_blank">Details</a>
            </div>
        </div>
    </body>
</html>
